<h1>Balances</h1>

<table>
  <thead>
    <tr>
      <th>Regatta</th>
      <td></td>
      <th>Status</th>
      <td></td>
      <th>Closing Date</th>
      <td></td>
    </tr>
  </thead>

  <tbody>
    <% @balances.each do |balance| %>
      <tr>
        <td><%= balance.regatta.name%></td>
        <td></td>
        <td><%= if balance.closed == false
                  "open"
                else
                  "closed"
                end %></td>
        <td></td>
        <td><%= balance.closing_date%></td>
        <td></td>
        <td><%= link_to "show", [balance] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
