<div class="col-md-4">
  <h1 style="text-align:left">Balances</h1>
  <hr>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Regatta</th>
        <th></th>
        <th>Status</th>
        <th></th>
        <th>Closing Date</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @balances.each do |balance| %>
        <tr>
          <td><%= balance.regatta.name%></td>
          <td></td>
          <td><%= if balance.closed == false
                    form_for(balance, url: balance_updateclosed_path(balance), method: :put) do |f|
                      button_tag(type: "submit", class: "fe fe-unlock", value: true) do
                      end
                    end
                  else
                    form_for(balance, url: balance_updateclosed_path(balance), method: :put) do |f|
                      button_tag(type: "submit", class: "fe fe-lock", value: false) do
                      end
                    end
                  end %></td>
          <td></td>
          <td><%= if balance.closing_date.blank? == true
                    "-"
                  else
                    balance.closing_date
                  end%></td>
          <td></td>
          <td><%= link_to '<i class="fe fe-eye"></i>'.html_safe, [balance] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
