<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Reminder</h1>
    <h2>Please submit invoices for <%=@regatta.name%> regatta</h2>
    <p>Dear <%=@user.name%>,</p>

    <p>The <%=@regatta.name%> regatta is 2 days ago. Please submit all your invoices now.</p>

    <p>The balance will be closed at the <%=Date.current + 7.days%>.</p>

    <p>Cheers,</p>

    <p>KrIschi</p>
  </body>
</html>
